@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

nav {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    background-color: #cafdff;
}

header {
    background-color: #eadcff;
    height: calc(100vh - 70px);
    padding: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: black;
    font-size: 72px;
}

.subheader {
    font-size: 36px;
    margin: 16px 0 24px 0;
}

button {
    background-color: #05c7cf;
    border: none;
    color: white;
    cursor: pointer;
    padding: 8px 16px;
    font-size: 24px;
}

a {
    color: black;
    font-size: 24px;
    font-weight: 700;
}

.logo {
    width: 300px;
}

ul {
    display: flex;
}

li {
    list-style: none;
    padding-left: 16px;
}

.row {
   width: 100%;
   max-width: 1300px;
   margin: 0 auto;
   display: flex;
   align-items: center;
   justify-content: center;
}

/* About Section */

#about,
#discord,
#contact,
#footer {
    padding: 48px;
    background-color: #f8ffdc
}

h2 {
    font-size: 60px;
    text-align: center;
    color: black;
    margin-bottom: 24px;
}

.section_description {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about_img--wrapper {
    width: 40%;
}

.about_img--wrapper, 
.section_description--wrapper {
    width: 60%;
    padding: 0 24px;
}

.section_description--para {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 24px;
}

/* About Discord */

#discord {
    background-color: #cefeff;
}

/* About Contact */

#contact {
    background-color: #dce9ff;
}

form {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

input, textarea {
    margin-bottom: 24px;
    padding: 6px 12px;
    font-size: 20px;
}

/* About Footer */

footer {
    background-color: #aaf5ff;
    display: flex;
    flex-direction: column;
    align-items: center
}

.footer_logo {
    max-width: 480px;
    margin-bottom: 16px;
}

.footer_links {    
    margin-bottom: 32px;
}

.footer_link {
    padding: 0 16px;
}
